<html>
    <head>
        <style>
            table {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            td, th {
                border: 1px solid gray;
                text-align: left;
                padding: 10px;
            }
            tr:nth-child(even) {
                background-color: gray;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Dummy Users</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Profession</th>
                </tr>
                <% for(let i=0;i<users.length;i++) {%>
                    <tr>
                        <td><%= users[i].fullname%></td>
                        <td><%= users[i].email%></td>
                        <td><%= users[i].age%></td>
                        <td><%= users[i].city%></td>
                        <td><%= users[i].profession%></td>
                    </tr>
                <% } %>
            </table>
            <a href="/form">Add User</a>
        </div>
    </body>
</html>